<?xml version="1.0" encoding="windows-1252"?>
<session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/EasyFit</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">ifpe</property>
    <mapping class="model.Aluno"/>
    <mapping class="model.Pessoa"/>
    <mapping class="model.Professor"/>
</session-factory>


<root>
    
</root>
